:root {
  --main-color: #ae2ce2;
  --background-color: #f4f2f7;
  --card-background: #ffffff;
  --text-color: #333333;
  --button-background: #ae2ce2;
  --button-hover: #9525c1;
  --border-radius: 8px;
  --transition-duration: 0.9s;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5vh;
  padding: 7vh;
  background-color: var(--background-color);
}

.product-card {
  background-color: var(--card-background);
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 35vh;
  padding: 2vh;
  transition: box-shadow 0.8s ease-in-out;
}

.product-card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.product-image {
  width: 35vh;
  height: 35vh;
  object-fit: cover;
  transition: transform 0.8s ease-in-out;
}

.product-card:hover .product-image {
  transform: translateY(-10px) scale(1.05);
}

.product-info {
  padding: 15px;
  color: var(--text-color);
}

.product-name {
  font-size: 1.2em;
  margin: 0;
}

.product-description {
  font-size: 0.9em;
  color: #666666;
  margin: 10px 0;
}

.product-price {
  font-size: 1.1em;
  font-weight: bold;
  color: var(--main-color);
}

.product-category {
  font-size: 0.8em;
  color: #777777;
  margin-bottom: 10px;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  transition: background-color 5s;
}

.action-button:hover {
  background-color: #666666;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  background-color: #ae2ce2;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
  background-color: #9326b8;
}

.pagination span {
  font-size: 16px;
  color: #333;
}
