.navbar {
  background-color: #ae2ce2;
  padding: 5vh 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 5vh;
}

.nav-list li {
  display: inline;
}

.nav-list a {
  text-decoration: none;
  color: white; 
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-list a:hover {
  color: #ffffff; 
  font-weight: 600;
}
