.navbar {
  background-color: #ae2ce2;
  padding:2vh 5vh;
  display: flex;
  margin: -1vh;
  margin-bottom: 7vh;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin-top: 4vh;
  display: flex;
  gap: 8vh;
  font-size: larger;
}

.nav-list li {
  display: inline;
}

.nav-list a {
  text-decoration: none;
  color: white; 
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-list a:hover {
  color: #ffffff; 
  font-weight: 600;
}
.navbar-logo img {
  height: 13vh;
  width: 18vh;
  padding-right: 50VH;
  
}
