
.register-form {
  width: 60vh;
  height: 110vh;
  margin: auto;
  margin-top: 10vh;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  background-color: #cad6ea;
  align-items: center;
  justify-content: center;
}

.register-form h2 {
  text-align: center;
  margin-bottom: 7vh;
  color: #ae2ce2;
}

.form-group {
  margin-bottom: 6vh;
  flex-grow: 1;
  border-radius: 20px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

.form-control {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

.btn {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background-color: #ae2ce2;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.btn:disabled {
  background-color: #ccc;
}

.btn:hover {
  background-color: #7b0992;
}

small {
  color: red;
}
.success-message {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  text-align: center;
  font-size: 24px;
  color: green;
  animation: fadeIn 1s ease-in-out;
  
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.success-message h3.sub-message {
  font-size: 18px; /* Daha küçük font boyutu */
  margin-top: 10px; /* Üst boşluk */
}